$font: "Ubuntu", sans-serif;
html, body {
  overflow: hidden; /* буде ні прокрутки, ні смужок */
  font-family: $font;
  color: #ffffff;
}
.paralax-slider__bg {
    background-image: url(./../img/222.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400%;
    background-size: cover;
    background-position: center;
}
.swiper-slide {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}
.swiper-wrapper{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}
.swiper-slide {
    box-shadow: 0 0 150px 50px rgba(0,0,0,0.8);
}
.active-nav {
    font-weight: 600;
    color: green;
}
.about {
    min-width: 250px;
    display: grid;
    height: 100vh;
    max-width: 1220px;
    padding: 20px 15px;
    margin: 0 auto;
    row-gap: 20px;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: 
                        "myName myNav"
                        "myPhoto helloInfo"
                        "myPhoto aboutMe"
                        "myLink myLink";
}

    .name {
        grid-area: myName;
        justify-self: start;
        align-self: center;

        > h1 {
            font-size: 50px;
            font-weight: 600;
        }

        > p{
            font-size: 30px;
        }
    }

    nav{
        grid-area: myNav;
        align-self: center;
        position: relative;

        > ul{
            display: flex;
            gap: 40px;
            font-size: 20px;
            justify-content: end;
            padding: 15px 0;
        }
    }
    
    .myPhoto{
        max-width: 300px;
        min-width: 100px;
        width: 100%;
        border-radius: 100%;
        justify-self: center;
        grid-area: myPhoto;
        align-self: start;
    }

    .hello-info{
        font-size: 35px;
        font-weight: 500;
        align-self: start;
        grid-area: helloInfo;

        > span{
            font-size: 70px;
            font-weight: 500;
        }
    }            
           
    .main-link{
        display: flex;
        gap: 20px;
        grid-area: myLink;
        align-self: center;

        > a{
            display: flex;
            width: 150px;
            height: 40px;
            border-radius: 10px;
            font-size: 20px;
            padding: 0 5px;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

        >.main-link-cv{
            background-color: rgb(243, 41, 109);
        }

        .main-link-git{
            background-color: rgb(41, 213, 243);
        }
        .main-link-skills{
            background-color: rgb(245, 232, 47);
        }
    }

    
        
    .about-me{
        font-size: 20px;
        line-height: 30px;
        grid-area: aboutMe;
    }

    .burgerMenu {
        background-color: rgb(116, 114, 114);
        width: 50px;
        height: 50px;
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
        top: 0;
        right: 5%;

        > div {
            width: 30px;
            height: 3px;
            background-color: black;
        }
    }

@media (max-width: 1063px) {
    .about {
        padding: 20px 15px;
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
                        "myNav "
                        "myName"
                        "myPhoto"
                        "helloInfo"
                        "aboutMe"
                        "myLink";
    }
    .name {
        align-self: center;
        justify-self: center;

        > h1 {
            font-size: 55px;
        }
    }
    nav{
        align-self: center;
        align-content: end;
        justify-self: center;
        height: 50px;
        >ul{
            gap: 20px;
            font-size: 18px;
        }
    }
    .myPhoto{
        justify-self: center;
    }
    .hello-info{
        justify-self: center;
    }
    .main-link{
        justify-self: center;
            
        > a{
            width: 150px;
            height: 40px;
            border-radius: 10px;
            font-size: 20px;
        }
    }
    .about-me{
        max-width: 800px;
        justify-self: center;
        margin: 0 30px;
        text-align:justify;
    }
    @media (max-height: 800px) {
        .about {
            grid-template-columns: 0.5fr 1fr;
            grid-template-rows: 0.1fr 0.2fr 0.3fr 0.1fr;
            column-gap: 30px;
            row-gap: 35px;
            grid-template-areas: 
                                "myNav myNav"
                                "myPhoto myName"
                                "myPhoto aboutMe"
                                "myLink myLink";
        }
        .name{
            justify-self: start;
            align-self: start;
        }
        .hello-info{
            display: none;
        }
        .about-me{
            margin: 0;
        }
    }
    @media(max-height: 480px) {
        .burgerMenu {
            width: 30px;
            height: 30px;
            gap: 3px;
            top: 50%;
            transform: translateY(-50%);
            > div {
                width: 15px;
                height: 2px;
            }
        }
        .about{
            padding-top: 10px;
            row-gap: 10px;
            grid-template-columns: 0.5fr 1fr;
            grid-template-rows: 0.3fr 0.4fr 0.6fr;
            grid-template-areas: 
                                "myLink myNav"
                                "myPhoto myName"
                                "myPhoto aboutMe";
        }
        .name {
            > h1 {
                justify-self: start;
                font-size: 45px;
            }
            > p{
                font-size: 30px;
            }
        }
        .myPhoto{
            align-self: center;
            width: 280px;
        }
        .main-link {
            justify-self: end;
            align-self: center;
            > a {
                font-size: 10px;
                width: 80px;
                height: 30px;
            }
            > .main-link-skills {
                display: none;
            }
        }
        .about-me{
            font-size: 20px;
            line-height: 20px;
            margin-right: 20px;
        }
    }
    @media (max-height: 400px) {
        .myPhoto{
            width: 200px;
            align-self: center;
        }
        .name {
            h1{
                font-size: 35px;
            }
            p{
                font-size: 25px;
            }
        }
        .about-me{
            font-size: 16px;
            line-height: 25px;
        }
    }
    @media (max-height: 300px) {
        .about{
            grid-template-columns: 0.2fr 1fr;
            gap: 15px;
        }
        .myPhoto {
            width: 150px;
        }
        .name {
            align-self: center;
            > h1 {
                justify-self: start;
                font-size: 25px;
            }
            > p{
                font-size: 20px;
            }
        }
        .about-me{
            font-size: 16px;
            line-height: 20px;
            margin-right: 20px;
        }
    }
}

@media(max-width: 768px) {
    .about {
        padding: 10px 15px;
    }
    .name {
        justify-items: center;

        > h1 {
            font-size: 35px;
        }
    }
    .hello-info {
        display: none;
    }
    nav{
        justify-self: start;

        > ul {
            display: none;
        }
    }
    .burgerMenu{
        display: flex;
        left: 0;
    }
    .main-link{
        gap: 15px;
        > a {
            width: 130px;
        }
    }
     @media(max-height: 800px) {
        .about {
            padding-top: 15px;
            grid-template-columns: 0.5fr 1fr;
            grid-template-rows: 0.3fr auto auto auto 0.3fr;
            column-gap: 15px;
            row-gap: 15px;
            grid-template-areas: 
                            "myNav myNav"
                            "myName myName"
                            "myPhoto myPhoto"
                            "aboutMe aboutMe"
                            "myLink myLink";
        }
        .name {
            justify-self: center;
            > h1 {
                font-size: 30px;
            }
            p{
                font-size: 20px;
            }
        }
        .main-link{
            margin-top: 20px;
            align-self: start;
        }
        .about-me{
            font-size: 16px;
        }
    }
    @media(max-height: 680px) {
        .about {
            grid-template-columns: 0.2fr 1fr;
            grid-template-rows: 0.3fr auto auto auto;
            grid-template-areas: 
                            "myNav myName"
                            "myPhoto myPhoto"
                            "aboutMe aboutMe"
                            "myLink myLink";
        }
        .name {
            justify-self: start;
            align-self: center;
            > h1 {
                justify-self: start;
            }
        }
        .myPhoto {
            width: 200px;
            align-self: center;
        }
        .about-me{
            margin: 0 20px;
        }
        .main-link{
            margin-top: 0;
        }
    }
    @media(max-height: 480px) {
        .burgerMenu {
            width: 30px;
            height: 30px;
            gap: 3px;
            top: 50%;
            transform: translateY(-50%);
            > div {
                width: 15px;
                height: 2px;
            }
        }
        .about{
            padding-top: 10px;
            row-gap: 10px;
            grid-template-columns: auto 1fr;
            grid-template-rows: 0.3fr 0.4fr 0.6fr;
            grid-template-areas: 
                                "myNav myLink"
                                "myPhoto myName"
                                "myPhoto aboutMe";
        }
        .name {
            > h1 {
                justify-self: start;
                font-size: 35px;
            }
            > p{
                font-size: 25px;
            }
        }
        .myPhoto{
            align-self: start;
            width: 180px;
        }
        .main-link {
            justify-self: end;
            align-self: center;
            margin-top: 0;
            > a {
                font-size: 10px;
                width: 120px;
                height: 35px;
            }
            > .main-link-skills {
                display: none;
            }
        }
        .about-me{
            font-size: 12px;
            line-height: 16px;
            margin: 0;
        }
    } 
}

@media(max-width: 450px) {
    .about {
        padding: 30px 15px;
        grid-template-columns: 1fr;
        grid-template-areas: 
                            "myNav"
                            "myPhoto"
                            "myName"
                            "aboutMe"
                            "myLink";
    }
    .name {
        justify-self: center;
        > p{
            text-align: center;
        }
    } 
    .myPhoto{
        width: 150px;
    }
    .main-link > .main-link-skills {
        display: none;
    }
    .main-link > a {
        width: 110px;
        font-size: 14px;
    }
    @media(max-height: 800px) {
        .burgerMenu {
            width: 30px;
            height: 30px;
            gap: 3px;
            top: 50%;
            transform: translateY(-50%);
            > div {
                width: 15px;
                height: 2px;
            }
        }
        .about{
            padding-top: 0;
            row-gap: 10px;
            grid-template-columns: 0.2fr 1fr;
            grid-template-rows: 0.2fr auto auto auto;
            grid-template-areas: 
                                "myNav myLink"
                                "myName myName"
                                "myPhoto myPhoto"
                                "aboutMe aboutMe";
        }
        .name {
            align-self: center;
            h1{
                font-size: 35px;
            }
            p{
                font-size: 25px;
                margin-top: 15px;
            }
        }
        .myPhoto {
            width: 250px;
        }
        .main-link{
            align-self: center;
            margin-top: 0;
            justify-self: end;
            gap: 10px;
            
            > a {
                font-size: 10px;
                width: 70px;
                height: 25px;
            }
        }
        .about-me{
            align-self: start;
            font-size: 20px;
            line-height: 30px;
        }
    }
    @media(max-height: 700px) {
        .myPhoto {
            width: 200px;
        }
        .about-me{
            align-self: start;
            font-size: 16px;
            line-height: 20px;
        }
    }
    @media(max-height: 520px) {
        .myPhoto {
            width: 150px;
        }
        .name {
            h1{
                font-size: 25px;
            }
            p{
                font-size: 15px;
                margin-top: 15px;
            }
        }
        .about-me{
            font-size: 12px;
            line-height: 20px;
        }
    }
}

/***********************/
.wrap-skills{
    position: relative;
    width: 100vw;
    height: 100vh;

}
.wrap{
    max-width: 700px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tech{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: planet 40s linear infinite;
    transform-origin: center;
}
.cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200px;
    max-height: 200px;
    width: 40%;
    height: 40%;

    >img{
        width: 100%;
        height: 100%;
        animation: circle 40s linear infinite;
    }
}
.skill{
    width: (calc(0.15 * min(100vw, 100vh)));
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;

}
.JS{
    transform: translate(-50%, -50%) rotate(0deg) translateX(calc(0.35 * min(100vw, 100vh))) rotate(-0deg);

}
.CSS{
    transform: translate(-50%, -50%) rotate(72deg) translateX(calc(0.35 * min(100vw, 100vh))) rotate(-72deg);
    transform-origin: center;
}
.HTML{
    transform: translate(-50%, -50%) rotate(144deg) translateX(calc(0.35 * min(100vw, 100vh))) rotate(-144deg);
    transform-origin: center;
}
.Swiper{
    transform: translate(-50%, -50%) rotate(216deg) translateX(calc(0.35 * min(100vw, 100vh))) rotate(-216deg);
    transform-origin: center;
}
.SCSS{
    transform: translate(-50%, -50%) rotate(288deg) translateX(calc(0.35 * min(100vw, 100vh))) rotate(-288deg);
    transform-origin: center;
}
.skill-icon{
    width: 100%;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1/1;
    animation: counter-rotate 40s linear infinite;
}
.skill-js{
    background-image: url(./../img/JS.svg);
}
.skill-html{
    background-image: url(./../img/HTML.svg);
}
.skill-css{
    background-image: url(./../img/css.svg);
}
.skill-swiper{
    background-image: url(./../img/swiper-logo.svg);
}
.skill-scss{
    background-image: url(./../img/less.svg);
}
@keyframes counter-rotate {
  from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

@keyframes planet {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
        
    }
}
@keyframes circle {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
