$font: "Ubuntu", sans-serif;
html, body {
  overflow: hidden; /* буде ні прокрутки, ні смужок */
  font-family: $font;
}
.paralax-slider__bg {
    background-image: url(./../img/222.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400%;
    background-size: cover;
    background-position: center;
}
.swiper-slide {
    background-color: rgba(128, 128, 128, 0.7);
    width: 100%;
}
.swiper-wrapper{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}
.swiper-slide {
    box-shadow: 20px 0px 100px, -20px 0px 100px;
}
.active-nav {
    font-weight: 600;
    color: green;
}
.about {
    min-width: 250px;
    display: grid;
    height: 100vh;
    max-width: 1220px;
    padding: 20px 15px;
    margin: 0 auto;
    row-gap: 20px;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: 
                        "myName myNav"
                        "myPhoto helloInfo"
                        "myPhoto aboutMe"
                        "myLink myLink";
}

    .name {
        grid-area: myName;
        justify-self: start;
        align-self: center;

        > h1 {
            font-size: 50px;
            font-weight: 600;
        }

        > p{
            font-size: 30px;
        }
    }

    nav{
        grid-area: myNav;
        align-self: center;
        position: relative;

        > ul{
            display: flex;
            gap: 40px;
            font-size: 20px;
            justify-content: end;
            padding: 15px 0;
        }
    }
    
    .myPhoto{
        max-width: 300px;
        min-width: 100px;
        width: 100%;
        border-radius: 100%;
        justify-self: center;
        grid-area: myPhoto;
        align-self: start;
    }

    .hello-info{
        font-size: 35px;
        font-weight: 500;
        align-self: start;
        grid-area: helloInfo;

        > span{
            font-size: 70px;
            font-weight: 500;
        }
    }            
           
    .main-link{
        display: flex;
        gap: 20px;
        grid-area: myLink;
        align-self: center;

        > a{
            display: flex;
            width: 150px;
            height: 40px;
            border-radius: 10px;
            font-size: 20px;
            padding: 0 5px;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

        >.main-link-cv{
            background-color: rgb(243, 41, 109);
        }

        .main-link-git{
            background-color: rgb(41, 213, 243);
        }
        .main-link-skills{
            background-color: rgb(245, 232, 47);
        }
    }

    
        
    .about-me{
        font-size: 20px;
        line-height: 30px;
        grid-area: aboutMe;
    }

    .burgerMenu {
        background-color: rgb(116, 114, 114);
        width: 50px;
        height: 50px;
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
        top: 0;
        right: 5%;

        > div {
            width: 30px;
            height: 3px;
            background-color: black;
        }
    }

@media (max-width: 1063px) {
    .about {
        padding: 20px 15px;
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
                        "myNav "
                        "myName"
                        "myPhoto"
                        "helloInfo"
                        "aboutMe"
                        "myLink";
    }

    .name {
        align-self: center;
        justify-self: center;

        > h1 {
            font-size: 55px;
        }
    }

    nav{
        align-self: center;
        align-content: end;
        justify-self: center;
        height: 50px;
    }
    .myPhoto{
        justify-self: center;
    }
    .hello-info{
        justify-self: center;
    }
    .main-link{
        justify-self: center;
            
        > a{
            width: 150px;
            height: 40px;
            border-radius: 10px;
            font-size: 20px;
        }
    }
    .about-me{
        max-width: 800px;
        justify-self: center;
        margin: 0 30px;
        text-align:justify;
    }

    @media (max-height: 800px) {
        .about {
            grid-template-columns: 0.5fr 1fr;
            grid-template-rows: 0.5fr auto auto 1fr;
            column-gap: 30px;
            grid-template-areas: 
                                "myNav myNav"
                                "myPhoto myName"
                                "myPhoto aboutMe"
                                "myLink myLink";
        }
        .name{
            justify-self: start;
            align-self: start;
        }
        .hello-info{
            display: none;
        }
        .about-me{
            margin: 0;
        }
    }
    @media(max-height: 450px) {
        .burgerMenu {
            width: 30px;
            height: 30px;
            gap: 3px;
            top: 50%;
            transform: translateY(-50%);
            > div {
                width: 15px;
                height: 2px;
            }
        }
        .about{
            padding-top: 10px;
            row-gap: 10px;
            grid-template-columns: 0.3fr 1fr;
            grid-template-rows: 0.3fr 0.4fr 0.6fr;
            grid-template-areas: 
                                "myLink myNav"
                                "myPhoto myName"
                                "myPhoto aboutMe";
        }
        .name {
            > h1 {
                justify-self: start;
                font-size: 20px;
            }
            > p{
                font-size: 16px;
            }
        }
        .main-link{
            align-self: center;
            margin-top: 0;
        }
        .myPhoto{
            align-self: center;
            width: 200px;
        }
        .main-link {
            justify-self: end;
            > a {
                font-size: 10px;
                width: 80px;
                height: 30px;
            }
            > .main-link-skills {
                display: none;
            }
        }
        .about-me{
            font-size: 12px;
            line-height: 20px;
        }
    }
}

@media(max-width: 768px) {
    .about {
        padding: 30px 15px;
    }
    .name {
        justify-items: center;

        > h1 {
            font-size: 35px;
        }
    }
    .hello-info {
        display: none;
    }
    nav{
        justify-self: start;

        > ul {
            display: none;
        }
    }
    .burgerMenu{
        display: flex;
        left: 0;
    }
    .main-link{
        gap: 15px;
        > a {
            width: 130px;
        }
    }
     @media(max-height: 800px) {
        .about {
            padding-top: 15px;
            grid-template-columns: 0.5fr 1fr;
            grid-template-rows: 0.3fr 0.4fr 0.6fr 0.6fr;
            column-gap: 15px;
            row-gap: 15px;
            grid-template-areas: 
                            "myNav myNav"
                            "myPhoto myName"
                            "myPhoto aboutMe"
                            "myLink myLink";
        }
        .name {
            > h1 {
                justify-self: start;
                font-size: 30px;
            }
            p{
                font-size: 20px;
            }
        }
        .main-link{
            margin-top: 20px;
            align-self: start;
        }
        .about-me{
            font-size: 14px;
        }
    }
    @media(max-height: 430px) {
        .burgerMenu {
            width: 30px;
            height: 30px;
            gap: 3px;
            top: 50%;
            transform: translateY(-50%);
            > div {
                width: 15px;
                height: 2px;
            }
        }
        .about{
            padding-top: 10px;
            row-gap: 10px;
            grid-template-columns: 0.2fr 1fr;
            grid-template-rows: 0.3fr 0.4fr 0.6fr;
            grid-template-areas: 
                                "myNav myLink"
                                "myPhoto myName"
                                "myPhoto aboutMe";
        }
        .name {
            > h1 {
                justify-self: start;
                font-size: 20px;
            }
            > p{
                font-size: 16px;
            }
        }
        .main-link{
            align-self: center;
            margin-top: 0;
        }
        .myPhoto{
            align-self: center;
        }
        .main-link {
            justify-self: end;
            > a {
                font-size: 10px;
                width: 80px;
                height: 30px;
            }
            > .main-link-skills {
                display: none;
            }
        }
        .about-me{
            font-size: 12px;
            line-height: 20px;
        }
    } 
}

@media(max-width: 450px) {
    .about {
        padding: 30px 15px;
        grid-template-columns: 1fr;
        grid-template-areas: 
                            "myNav"
                            "myPhoto"
                            "myName"
                            "aboutMe"
                            "myLink";
    }
    .name {
        justify-self: center;
        > p{
            text-align: center;
        }
    } 
    .myPhoto{
        width: 150px;
        height: 150px;
    }
    .main-link > .main-link-skills {
        display: none;
    }
    .main-link > a {
        width: 110px;
        font-size: 14px;
    }
    @media(max-height: 800px) {
        .burgerMenu {
            width: 30px;
            height: 30px;
            gap: 3px;
            top: 50%;
            transform: translateY(-50%);
            > div {
                width: 15px;
                height: 2px;
            }
        }
        .about{
            padding-top: 10px;
            row-gap: 10px;
            grid-template-columns: 0.2fr 1fr;
            grid-template-areas: 
                                "myNav myLink"
                                "myName myName"
                                "myPhoto myPhoto"
                                "aboutMe aboutMe";
        }
        .name {
            h1{
                font-size: 20px;
                justify-self: center;
            }
            p{
                font-size: 16px;
            }
        }
        .myPhoto {
            width: 120px;
            height: 120px;
        }
        .main-link{
            align-self: center;
            margin-top: 0;
            justify-self: end;
            gap: 10px;
            
            > a {
                font-size: 10px;
                width: 70px;
                height: 25px;
            }
        }
        .about-me{
            font-size: 12px;
            line-height: 20px;
        }
    }
}
